:root {
    --gold: #daa520;
    --black: #000000;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    background: var(--black);
    color: var(--gold);
}

a {
    color: var(--gold) !important;
    text-decoration: none;
}

.container {
    list-style: none;
    min-height: 100px;
}

.navButton {
    width: 20%;
    height: 150px;
    border-style: dashed dashed solid dashed;
}

.face {
    max-width: 300px;
    min-width: 300px;
}

.aboutText {
    font-size: 25px;
}

.firstWorkButton {
    height: 500px;
    width: 50%;
}

.workButton {
    height: 150px;
    width: 45%;
}

.contactButton {
    height: 150px;
    width: 25%;
    font-size: 20px;
}

.name {
    width: 75%;
    font-size: 75px;
    height: 250px;
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(218, 165, 32, 1) 100%);
}

.firstWorkText {
    height: 300px;
    font-size: 30px;
    margin: 10px;
    background-color: white;
}

.workText {
    font-size: 30px;
    margin: 10px;
    background-color: white;
}

#project1 {
    background-image: url("./WillWeather.png");
    background-position: center;
    background-size: cover;
    height: 300px;
}

#workday {
    background-image: url("./Planner.png");
    background-position: center;
    background-size: cover;
    height: 147px;
}

#horiseon {
    background-image: url('treatyoshelf.png');
    background-position: center;
    background-size: cover;
}

#familyJewels {
    background-image: url("./cookbook.jfif");
    background-position: center;
    background-size: cover;
    height: 292px;
}

#talent {
    background-image: url("./lg.png");
    background-position: center;
    background-size: auto;
    height: 291px;
}

@media only screen and (max-width: 800px) {
    .navButton {
        width: 40%;
    }
}

@media only screen and (max-width: 600px) {
    .navButton {
        width: 90%;
    }

    .contactButton {
        font-size: 15px;
    }
}

.nav-item {
}